* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Segoe UI", system-ui, Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primaryColor: #3498db;
  --secondaryColor: #8e44ad;
  --thirdColor: #3498db;
}

html {
  font-size: 14.0px;
}

body,
html {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: -webkit-gradient(linear, left top, right top, from(#3498db), to(#87ceeb));
  background: -o-linear-gradient(left, #3498db, #87ceeb);
  background: linear-gradient(to right, #3498db, #87ceeb);

}

.head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  height: 80px;
  margin-bottom: 30px;
}

.head img {
  height: 40px;
  margin: 10px 15px 0 20px;
}


.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 50px 0 0px 0;
}

.deals {
  width: 80%;
  background-color: hsl(209, 42%, 90%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;

  flex-wrap: wrap;
}

.deals h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--primaryColor);
  cursor: context-menu;
}

#paraInDiv {
  display: block;
  transition: all 2s ease;
}

.deals>div {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1vw;
  justify-content: space-around;
  align-items: center;
}

.deals>div>li>i {
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease;
  transform-origin: center;
  cursor: pointer;
  align-self: center;
}

.deals>div>li>i:hover {
  color: #333 !important;
}

#filterOptions {
  display: none;
  transform: translateX(0);
  transition: transform 3s ease;
}

#paraInDiv {
  transform: translateX(0);
  transition: transform 1s ease;
}



#filterOptions button {
  background-color: #fff;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

#filterOptions button:hover {
  background-color: var(--primaryColor);
  color: #fff;
}

.deals>div>li {
  display: flex;
}


.deals>ul {
  width: 90%;
  font-size: 1.2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.deals>ul li {
  color: #333;
  font-weight: 600;
  width: 100%;
  word-wrap: break-word;
  line-height: 1.5;
  list-style: decimal !important;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
}

.deals>ul li:hover {
  text-decoration: underline;
}

.green {
  color: #3498db;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #333;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: whitesmoke;
  font-size: 0.9rem;
  height: 25vh;
  margin-top: 50px;

}

.socials {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5%;
}

.socials i {
  font-size: 2.2rem;
  margin-right: 15px;
  cursor: pointer;
}

.text {
  width: 80%;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .deals {
    width: 90%;
    padding: 0 10px;
  }

  .deals ul li {
    margin-bottom: 20px;
  }

  .deals ul li a {
    font-size: 0.9rem;
  }

  .deals h1,
  .green {
    color: #333;
  }

  .deals h1 {
    font-size: 1.5rem;
  }

  .socials i {
    font-size: 1.8rem;
  }
}

@media (max-width: 400px) {

  .deals ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 0.8rem;
    text-align: left;
  }

  .deals {
    width: 100%;
    border-radius: 0px;
    background-color: hsl(209, 42%, 90%);
    padding: 0;
  }

  .deals h1 {
    font-size: 2rem;
  }

  .deals>div {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-bottom: 2vh;
  }

  .text {
    font-size: 0.7rem;
    width: 93%;
    line-height: 1.5;
  }

  .deals>ul li {
    font-size: 1.4rem;
    margin: 2vh 0;
  }

  .deals>div li {
    flex-direction: column;
    gap: 2vh;
  }

  .deals>div li i {
    font-size: 1.5rem;
  }


  #filterOptions {
    width: max-content;
  }
}